.App {
  text-align: center;
}

/* Tyson Styles */
.Tilt {
  /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}